* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #7a7d81;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

h2 {
    color: white;
    margin: 20px 0px 5px;
}

h3 {
    color: white;
    margin: 8px 0;
}
h4 {
    color: white;
}

li {
    color: #7a7d81;
    list-style: none;
    padding: 10px 0;
}



main {
    display: flex;
    height: calc(100% - 90px);
}

.main_nav {
    display: flex;
    flex-direction: column;
    width: 230px;
    background-color: black;
    padding: 10px 0px;
    overflow-y: hidden;
}

.main_nav li, h3 {
    padding-left: 10px;
}

.nav_logo,
.nav_menu,
.nav_playlist,
.nav_bottom {
    padding: 5px;
}

.nav_bottom {
    padding: 0px 10px;
}

.nav_menu li:first-child {
    color: white;
    padding-left: 10px;
    border-left: 1px solid yellowgreen;
}

.nav_menu i {
    font-size: 24px;
}

.logo_lg {
    height: 80%;
}
.logo_sm {
    display: none;
}

.nav_playlist {
    flex-grow: 1;
}
.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid grey;
    margin-top: 10px;
    padding-top: 10px;
}

.profile h3 {
    display: inline-block;
    margin: 0px 0px 0 10px;
    vertical-align: middle;
}

.profile img {
    height: 30px;
    width: 30px;
    background-color: grey;
    border-radius: 50%;
}

.profile span {
    vertical-align: middle;
}


.call-to-action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    padding-right: 20px;
    top: 0;
    right: 0;
    width: calc(100% - 230px);
    height: 90px;
    background-color: black;
    opacity: 0.9;
    text-align: right;
}

.btn {
    text-transform: uppercase;
    display: inline-block;
    background-color: #080b12;
    color: white;
    font-size: 12px;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 50px;
    
}
.main_content {
    color: grey;
    width: calc(100% - 230px);
    padding: 90px 20px 0;
    background-color: #141922;
    overflow-y: auto;
    
}


.content {
    text-align: center;
}

.main_content li {
    display: inline-block;
    margin: 20px 10px;
    text-transform: uppercase;
}
.main_content li:first-child {
    border-bottom: 1px solid yellowgreen;
}
.main_content p {
    font-size: 13px;
    margin: 5px 0px 5px;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
    
}

.card {
    width: calc(25% - 15px);
    margin: 10px 15px 5px 0px;
    text-align: center;
}

.card img {
    width: 100%;
}

.artist  {
    border-radius: 50%;
}

footer {
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: #282828;
}

footer p {
    display: inline-block;
}

.footer_left,
.footer_right {
    display: flex;
    align-items: center;
    width: 230px;
    height: 100%;
    background-color: #282828;
}
.footer_center {
    color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    height: 100%;
    padding: 10px 2px 15px;
    background-color: #282828;
    font-size: 12px;
}

.container_input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    vertical-align: middle;
}

.action_icon {
    font-size: 18px;
    margin: 0px 10px;
}

.footer_center .far.fa-play-circle {
    vertical-align: middle;
    font-size: 30px;
}

.prova {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.prova > span {
    margin: 0px 5px;
}

.player {
    display: inline-block;
    width: 70%;
    height: 3px;
    background-color: grey;
    border-radius: 6px;
    position: relative;
    vertical-align: middle;
}
.circle {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 39%;
    background-color: white;
}
.player_fill {
    width: 40%;
    height: 3px;
    margin: 0px;
    background-color: lightgray;
    border-radius: 6px;
    position: absolute;
    vertical-align: middle;
}
.footer_left{
    justify-content: space-between;
}

.footer_left img {
    height: 60px;
}

.info_song {
    flex-grow: 1;
    margin-left: 10px;
}

.personal_icon {
    font-size: 18px;
    margin: 0 4px;
}

.personal_icon i {
    margin: 3px 0;
}

.footer_right {
    justify-content: flex-end;
    align-items: center;
    padding: 0px 8px;
}
.footer_right span {
    margin: 0px 10px 0px 2px;
}

.footer_right .player {
    width: 80%;
    margin-right: 5px;
}


#create_playlist {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    background-color: grey;
    color: black;
    line-height: 40px;
    text-align: center;
}

#plus-sign {
    font-size: 20px;
}

.nav_logo {
    height: 90px;
}


@media screen and (max-width: 552px) {
    .main_nav {
        width: 50px;
        padding: 2px 10px;
    }

    .nav_logo,
    .nav_menu,
    .nav_playlist,
    .nav_bottom {
        padding: 0px;
    }
    
    .nav_logo {
        height: 0px;
    }

    .logo_lg {
        display: none;
    }
    .logo_sm {
        display: inline-block;
        height: 40px;
        color: white;
        background-color: white;
    }

    .nav_menu {
        flex-grow: 1;
    }

    .nav_menu i {
        font-size: 27px;
    }

    .content ul li {
        font-size: 13px;
    }

    .profile h3 {
        display: none;
    }

    .main_nav span {
        display: none;
    }

    .nav_bottom {
        text-align: center;
    }

    .nav_bottom i {
        font-size: 18px;
    }

    .profile {
        margin-bottom: 10px;
        border: none;
    }

    .action_icon {
        font-size: 16px;
    }

    .nav_playlist {
        display: none;
    }

    .main_content {
        width: calc(100% - 50px);
    }

    .call-to-action {
        width: calc(100% - 50px);
    }

    .card {
        width: calc(50% - 10px);
        margin: 3px 10px 3px 0;
    }

    .footer_left,
    .footer_right,
    .footer_center {
        width: 33%;
    }

    h2 {
        margin-bottom: 10px;
    }
}


@media screen and (max-width: 639px) {
    .footer_left img {
        height: 40px;
    }

    .info_song {
        line-height: 14px;
    }

    .info_song h4 {
        font-size: 14px;
    }

    .info_song p {
        font-size: 12px
    }

    .personal_icon {
        display: flex;
        flex-direction: column;
        margin-right: 35px;
    }
    .prova > span {
        font-size: 12px
    }
}

@media screen and (max-width: 878px) {
    h3 {
        font-size: 14px;
    }

    span {
        font-size: 14px;
    }

    .content ul li {
        font-size: 15px;
    }

    .main_nav li {
        font-size: 14px;
    }
}

/* HOVERS */
i:hover {
    cursor: pointer;
    color: white;
}

li:hover {
    color: white;
    cursor: pointer;
}

#create_playlist:hover {
    cursor: pointer;
    background-color: white;
}

.nav_playlist span:hover {
    cursor: pointer;
    color: white;
}

.nav_bottom i:hover {
    cursor: pointer;
    color: white;
}

.nav_bottom span:hover {
    cursor: pointer;
    color: white;
}

.btn:hover {
    transform: scale(1.2, 1.2);
    cursor: pointer;
}

.card_container img:hover {
    background-color: black;
    opacity: 0.2;
    cursor: pointer;
}